body{
    padding: 0;
    margin: 0;
}

/********* Header *********/
header {
    background-color: lightseagreen;
    color: white;
    padding: 15px;
    border-bottom: gray 5px solid;
}

header h3 {
    float: right;
    margin-top: 10px;
}

header a{
    color: white;
    text-decoration: none;
}

header .currentPage a {
    color: black;
    font-weight: bold;
}

header li{
    display: inline;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

header nav {
    margin-top: 10px;;
}

/********* Home Page *********/
/* Bio Details */
#bio {
    background-color: lightsteelblue;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

/* Youtube Video */
#about {
    border: gray 5px solid;
    background-color: grey;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

/* GitHub Projects */
.card-title, .card-text {
    color: black;
}

/********* Projects Page *********/
/* Page Title */
#title {
    text-align: center;
    background-color: grey;
    margin-top: 10px;
    padding: 20px;
    color: white;
}

/* My GitHub Profile Link */
#github {
    background-color: lightsteelblue;
    padding: 10px;
    color: black;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/********* GitHub Projects Setup *********/
.project_heading {
    text-align: center;
    padding-top: 30px;
}

.card{
    float: left;
    text-align: center;
    padding: 10px;
    margin: 100px;
    background-color: lightsteelblue;
}


/********* Footer *********/
#footer-box {
    border-top: gray 5px solid;
    clear: both;
    position: relative;
    padding: 5px;
    background-color: lightseagreen;
}

.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 350px;
}

.footer a {
    color: white;
    padding-right: 20px;
}
